@media( max-width: 768px ){
    #sidebar{
        width: 80px;
    }
    #sidebar .nav_name {
        width: 0px !important;
        opacity: 0;
    }

    #sidebar .left svg {
        font-size: 0px !important;
    }

    #content {
        width: calc(100% - 80px);
        margin-right: 80px;
    }

    #header {
        width: calc(100% - 80px);
    }
    
}