#header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: calc(100% - 300px);
    z-index: 9;
    transition: .3s all;
    .toggle_icon,.lang, .nots{
        width: 35px;
        height: 35px;
        background-color: whitesmoke;
        border-radius: 4px;
        padding: 5px;
    }
    .admin{
        .admin_image{
            width: 35px;
            height: 35px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .admin_info{
            .name{
                font-size: 13px;
                color: #333;
                margin-bottom: 0;
            }
            .title{
                font-size: 9px;
            }
        }
    }
    &.active{
            width: calc(100% - 80px);
    }
}